@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lexend !important;
  background-repeat: no-repeat;
  background-position: right;
  backdrop-filter: blur(6rem) saturate(4);
}

.profile-img {
  background: url("/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}

.profile-img:before {
  content: " ";
  position: absolute;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  background: #3f00ffad;
  transform: rotate(352deg);
  z-index: 9;
}

.profile-img:after {
  content: " ";
  position: absolute;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  background: #24292f;
  transform: rotate(-352deg);
  z-index: 9;
}