@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lexend !important;
  background-repeat: no-repeat;
  background-position: right;
  backdrop-filter: blur(6rem) saturate(4);
}

.profile-img {
  background: url("/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}